@use "../../variables.scss" as *;
@use "sass:map";

.container {
  width: 100%;
  width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media (max-width: 980px) {
    width: 100%;
    height: fit-content;
    padding-top: 40px;
  }

  @media (max-width: 690px) {
    justify-content: flex-start;
    box-sizing: border-box;
    height: fit-content;
  }
}

.data {
  width: 95%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;

  &__title {
    width: fit-content;
    align-self: flex-start;
    font-size: $FZ_32;
    color: $BASE_GREY;
  }
  &__courses {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 15px;
    @media (max-width: 980px) {
      align-items: center;
      justify-content: center;
    }
  }
}
