@use "../../../variables.scss" as *;

.container {
  width: 300px;
  min-height: 140px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  cursor: default;
  background-color: $BASE_BACKGROUND_OPTION;
  border: 1px solid $BASE_BORDER;
  @media (max-width: 980px) {
    max-width: 350px;
  }
  @media (max-width: 750px) {
    max-width: 100%;
    height: fit-content;
  }
}
