@use "../../variables.scss" as *;
@use "sass:map";

.container {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.data {
  width: 95%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;

  &__image {
    width: 100%;
    height: fit-content;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
  }
  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media (max-width: 980px) {
  .container {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
  }

  .data {
    width: 95%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;

    &__main {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }
    &__image {
      width: 100%;
      height: 100%;
      padding: 0;
      box-sizing: border-box;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 750px) {
  .data {
    &__main {
      width: 100%;
    }
  }
}

@media (max-width: 690px) {
  .container {
    height: fit-content;
  }
}
