@use "../../variables.scss" as *;
@use "sass:map";

.container {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  box-sizing: border-box;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  gap: 50px;
  @media (max-width: 980px) {
    width: 100%;
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 690px) {
    height: fit-content;
  }
}

.data {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  &__title {
    width: fit-content;
    align-self: flex-start;
    font-size: $FZ_32;
    color: $BASE_GREY;
  }
  @media (max-width: 980px) {
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
