@use "../../variables.scss" as *;
@use "sass:map";

.container {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 980px) {
    width: 100%;
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 40px;
    padding-bottom: 80px;
  }
  @media (max-width: 690px) {
    height: fit-content;
  }
}

.data {
  width: 95%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;

  &__title {
    width: fit-content;
    align-self: flex-start;
    font-size: $FZ_32;
    color: $BASE_GREY;
  }
  @media (max-width: 980px) {
    gap: 30px;
  }
}
