@use "../../variables.scss" as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 100;
  padding-right: 20px;
  background-color: $BASE_BACKGROUND;
  border-bottom: 1px solid $BASE_BORDER;
}
.innerContainer {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  box-sizing: border-box;
}
