@use "../../../variables.scss" as *;

.container {
  all: unset;
  width: 100%;
  height: fit-content;
  padding: 8px 30px;
  color: $BASE_GREY;
  border: 3px solid $BASE_GREY;
  font-size: $FZ_16;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: $BASE_LIGHT;
    border: 3px solid $BASE_LIGHT;
  }
  &__disabled {
    cursor: not-allowed;
    color: rgba($BASE_GREY, 0.3);
    border: 3px solid rgba($BASE_GREY, 0.3);
    &:hover {
      color: rgba($BASE_GREY, 0.3);
      border: 3px solid rgba($BASE_GREY, 0.3);
    }
  }
}
