@use "../../../variables.scss" as *;

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.dates {
  width: 210px;
  min-width: 210px;
  font-size: $FZ_16;
  font-weight: 300;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mainData {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  &__header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: $FZ_16;
    color: $BASE_LIGHT;
    font-weight: $FW_600;
  }

  &__description {
    width: 100%;
    font-size: $FZ_16;
    font-weight: $FW_300;
  }
  &__descriptionItem {
    width: 100%;
  }
  &__stack {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px 8px;
  }
}

@media (max-width: 980px) {
  .container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

    &__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &__dates {
      width: 210px;
      min-width: 210px;
      font-size: $FZ_16;
      font-weight: $FW_300;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__company {
      font-size: $FZ_16;
      color: $BASE_LIGHT;
      font-weight: 600;
      text-align: right;
    }
  }
}
