@use "sass:map";

$themes: (
  light: (
    bg-color: rgb(222, 225, 236),
    text-color: rgb(148, 163, 184),
    text-hovered: rgb(0, 110, 255),
    accent-color: rgb(94, 234, 212),
  ),
  dark: (
    bg-color: rgba(15, 23, 42, 1),
    text-color: rgb(148, 163, 184),
    text-hovered: rgb(226, 232, 240),
    accent-color: rgb(94, 234, 212),
  ),
);

$BASE_LIGHT: map.get(map.get($themes, dark), text-hovered);
$BASE_GREY: map.get(map.get($themes, dark), text-color);
$BASE_ACCENT: map.get(map.get($themes, dark), accent-color);
$BASE_BACKGROUND: map.get(map.get($themes, dark), bg-color);

$FZ_12: 12px;
$FZ_14: 14px;
$FZ_16: 16px;
$FZ_18: 18px;
$FZ_20: 20px;
$FZ_22: 22px;
$FZ_32: 32px;
$FZ_48: 48px;

$FW_300: 300;
$FW_400: 400;
$FW_600: 600;
$FW_700: 700;
